/* Welcome */
.Welcome-Component {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(47, 137, 255, 0.555), rgba(0, 170, 192, 0.336));
}

    .Welcome-ButtonsContainer {
        position: relative;
        top: 30%;
        left: 40%;
        width: 20%;
        height: 140px;
        padding: 20px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.25);
    }

        .Welcome-ButtonsContainer h1 {
            margin: 0;
            margin-bottom: 20px;
        }

        .Welcome-ButtonsContainer button {
            border-radius: 10px;
            border-style: none;
            color: white;
            height: auto;
            width: 30%;
            margin-left: 5%;
            margin-right: 5%;
            background-color:rgb(180, 155, 92);
        }

/* Signup */
.Signup-Component {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(47, 137, 255, 0.555), rgba(0, 170, 192, 0.336));
}

    .Signup-Component form {
        position: relative;
        top: 30%;
        left: 35%;
        width: 30%;
        height: fit-content;
        padding: 20px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.25);
    }

        .Signup-Component form ul li {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 44px;
            margin-left: 20%;
            margin-top: 5px;
            margin-bottom: 5px;
            justify-content: left;
            text-align: left;
        }

            .Signup-Component form ul li input {
                position: relative;
                right: 0;
            }

        .Signup-Component form button {
            border-radius: 10px;
            border-style: none;
            color: white;
            height: auto;
            width: 30%;
            margin-left: 5%;
            margin-right: 5%;
            background-color:rgb(180, 155, 92);
        }


/* Login */
.Login-Component {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(47, 137, 255, 0.555), rgba(0, 170, 192, 0.336));
}

    .Login-Component form {
            position: relative;
            top: 30%;
            left: 35%;
            width: 30%;
            height: fit-content;
            padding: 20px;
            border-radius: 15px;
            background-color: rgba(0, 0, 0, 0.25);
        }

            .Login-Component form ul li {
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 44px;
                margin-left: 20%;
                margin-top: 5px;
                margin-bottom: 5px;
                justify-content: left;
                text-align: left;
            }

                .Login-Component form ul li input {
                    position: relative;
                    right: 0;
                }

            .Login-Component form button {
                border-radius: 10px;
                border-style: none;
                color: white;
                height: auto;
                width: 30%;
                margin-left: 5%;
                margin-right: 5%;
                background-color:rgb(180, 155, 92);
            }


/* Home */