.WeekCalendar-Component {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size:x-small
}

.Day-Component {
    padding: 1%;
    width: 15%;
    text-align: left;
}

.Day-Component h2 {
    text-align: center;
}

.Meal-Component {
    
}
.Meal-SubComponent{

}